/*
* @Author: vannvan <https://github.com/vannvan>
* @Date:   2019-08-29 18:28:56
* @Last Modified by:   vannvan
* @Last Modified time: 2019-08-29 18:29:03
*/
@function randomNum($max, $min: 0, $u: 1) {
	@return ($min + random($max)) * $u;
}

.mouse-following {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	height: 100%;
	cursor: pointer;
	li {
		position: relative;
		width: 30px;
		height: 30px;
		&::before {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: 100%;
			background-color: transparent;
			content: "";
			transform: scale3d(.1, .1, 1);
			transition: all 500ms ease-in;
		}
		&:hover {
			&::before {
				transform: scale3d(1.8, 1.8, 1.8);
				transition: transform 0s;
			}
		}
		@for $i from 1 through 500 {
			&:nth-child(#{$i}):hover {
				&::before {
					background-color: rgba(randomNum(255), randomNum(255), randomNum(255), .8);
				}
			}
		}
	}
}
