@import './mixin.scss';
$primaryColor: #1496fa;

.wrap {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-size: 100% 100%;

    .describe-wrap {
        height: auto;
        width: 95%;
        margin: pxTorem(65px) auto pxTorem(35px) auto;
        padding: pxTorem(100px) 5%;
        font-size: medium;
        box-sizing: border-box;
        line-height: pxTorem(100px);
        // border: dashed 1px #1c72c9;
        position: relative;

        p:nth-child(1) {
            text-align: center;
            font-weight: bold;
            font-size: large;
            line-height: pxTorem(150px);
        }


    }

    .coupons-wrap {
        width: 95%;
        margin: 0 auto;
        height: auto;

        .coupons-item {
            //   border-radius: pxTorem(150px) 0 pxTorem(150px) 0;
            // background-image: linear-gradient(45deg, #ff0844 0%, #ffb199 99%, #ffb199 100%);
            background-image: linear-gradient(225deg,
                    #00c6fb 0%,
                    #005bea 99%,
                    #005bea 100%);
            height: auto;
            padding-left: pxTorem(150px);
            padding-bottom: pxTorem(35px);
            box-sizing: border-box;
            position: relative;
            margin-bottom: pxTorem(50px);

            &::before {
                content: '';
                position: absolute;
                width: pxTorem(60px);
                height: 100%;
                background: url(../img/icon-circle.png);
                background-size: pxTorem(60px);
                background-repeat: repeat-y;
                bottom: 0;
                left: pxTorem(-30px);
            }

            &::after {
                content: '';
                position: absolute;
                width: pxTorem(60px);
                height: 100%;
                background: url(../img/icon-circle.png);
                background-size: pxTorem(60px);
                background-repeat: repeat-y;
                bottom: 0;
                right: pxTorem(-30px);
            }

            .card-wrap {
                display: flex;
                align-items: center;
                height: pxTorem(600px);
                position: relative;

                .left-name {
                    width: 40%;
                    height: pxTorem(380px);
                    display: flex;
                    align-items: center;
                    border-right: 1px #fff dashed;
                    color: #fff;
                    font-size: x-large;
                    font-weight: bold;
                }

                .right-info {
                    width: 60%;
                    align-items: center;
                    color: #fff;
                    padding: 0 pxTorem(50px);
                    font-size: medium;

                    p:nth-child(1) {
                        margin-bottom: pxTorem(60px);
                    }
                }
            }

            .tool {
                position: absolute;
                right: 0;
                right: pxTorem(150px);
                top: pxTorem(500px);
                font-size: small;
                color: #fff;
                text-decoration: underline;
            }

            .desc {
                border-top: 1px dashed #fff;
                font-size: small;
                width: 90%;
                color: #fff;
                // margin-left: pxTorem(-80px);
                display: none;
                padding: pxTorem(20px);
            }
        }
    }
}