@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "PingFangSC-Regular";
  outline: none;
}

body {
  margin: 0px auto !important;
  width: getUnit(750px);
  font-size: getUnit(28px);
  font-weight: 400;
  background-color: #fff;
}

/*文本格式化，超出范围，显示省略号*/
/*多行文本格式化，超出范围，显示省略号*/
.wrap {
  width: 100%;
  background: url(../img/bg.png);
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.wrap .logo-wrap {
  width: 4.66667rem;
  height: 2.66667rem;
  margin: 1.06667rem auto;
  text-align: center;
  padding-top: 0.53333rem;
  box-sizing: border-box;
}

.wrap .logo-wrap img {
  height: 0.8rem;
  margin-left: 0.66667rem;
}

.wrap .logo-wrap p {
  font-size: 0.29333rem;
  color: #fff;
  user-select: none;
}

.wrap .form-wrap {
  width: 95%;
  background: #fff;
  margin: -0.8rem auto 0 auto;
  border-radius: 0.13333rem;
  box-shadow: 0px 0.13333rem 0.2rem #DEDCDC;
  padding-bottom: 0.66667rem;
}

.wrap .form-wrap .verify {
  height: 1.2rem;
  margin: 0.2rem auto 0.10667rem auto;
}

.wrap .form-wrap .form-item {
  height: 1.2rem;
  padding: 0 0.33333rem;
  box-sizing: content-box;
  padding-top: 0.10667rem;
  line-height: 1.2rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.wrap .form-wrap .form-item::before {
  content: '';
  width: 77%;
  height: 1px;
  position: absolute;
  background: #ccc;
  bottom: 0;
  left: 20%;
}

.wrap .form-wrap .form-item label {
  width: 20%;
  display: inline-block;
  font-size: 0.37333rem;
}

.wrap .form-wrap .form-item input {
  height: 100%;
  width: 55%;
  border: none;
  border-radius: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: 0px;
  border: none;
  border-style: none;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  box-shadow: none;
}

.wrap .form-wrap .form-item input:-webkit-autofill,
.wrap .form-wrap .form-item select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.wrap .form-wrap .form-item .error {
  position: absolute;
  right: 0.26667rem;
  bottom: 0;
  color: #F4887C;
  display: none;
}

.wrap .form-wrap .form-item .error.code {
  right: 3.2rem;
}

.wrap .form-wrap .form-item.code-item {
  position: relative;
}

.wrap .form-wrap .form-item.code-item .send-code-btn {
  position: absolute;
  display: block;
  cursor: pointer;
  background: #1496FA;
  right: 0.26667rem;
  top: 0.2rem;
  width: 2.4rem;
  height: 0.93333rem;
  line-height: 0.93333rem;
  color: #fff;
  text-align: center;
  font-size: 0.24rem;
  border-radius: 0.6rem;
}

.wrap .form-wrap .form-item.code-item .send-code-btn.disabled {
  pointer-events: none;
}

.wrap .form-wrap .rigister-btn {
  width: 95%;
  height: 1.2rem;
  background: #1496FA;
  margin: 1.2rem auto;
  color: #fff;
  text-align: center;
  line-height: 1.2rem;
  cursor: pointer;
  border-radius: 0.10667rem;
  font-size: 0.37333rem;
}

.wrap .mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(23, 23, 23, 0.3);
  display: none;
}

.wrap .mask .modal {
  width: 65%;
  background: #fff;
  height: auto;
  margin: calc(100vh / 4) auto;
  border-radius: 0.2rem;
  padding-bottom: 0.8rem;
}

.wrap .mask .modal.message {
  height: 4rem;
}

.wrap .mask .modal .title {
  height: 1.33333rem;
  line-height: 2.13333rem;
  color: #000;
  font-size: pxTomrem(32px);
  font-weight: bold;
  padding-left: 0.26667rem;
  border-radius: 0.10667rem 0.10667rem 0 0;
}

.wrap .mask .modal .title img {
  width: 0.6rem;
}

.wrap .mask .modal .content {
  width: 100%;
  padding: 0.33333rem;
  height: 3.46667rem;
  overflow-x: hidden;
  box-sizing: border-box;
  line-height: 0.66667rem;
  overflow-y: auto;
  word-wrap: break-word;
}

.wrap .mask .modal .content p {
  text-indent: 2em;
}

.wrap .mask .modal .footer {
  height: 0.93333rem;
  line-height: 0.93333rem;
  background-image: linear-gradient(45deg, #48c6ef 0%, #6f86d6 99%, #6f86d6 100%);
  width: 80%;
  margin: 0 auto;
  border-radius: 0.46667rem;
  height: 0.93333rem;
  text-align: center;
  color: #fff;
}

.wrap .mask.block {
  display: block;
}
