@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "PingFangSC-Regular";
  outline: none;
}

body {
  margin: 0px auto !important;
  width: getUnit(750px);
  font-size: getUnit(28px);
  font-weight: 400;
  background-color: #fff;
}

/*文本格式化，超出范围，显示省略号*/
/*多行文本格式化，超出范围，显示省略号*/
.wrap {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-size: 100% 100%;
}

.wrap .describe-wrap {
  height: auto;
  width: 95%;
  margin: 0.86667rem auto 0.46667rem auto;
  padding: 1.33333rem 5%;
  font-size: medium;
  box-sizing: border-box;
  line-height: 1.33333rem;
  position: relative;
}

.wrap .describe-wrap p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: large;
  line-height: 2rem;
}

.wrap .coupons-wrap {
  width: 95%;
  margin: 0 auto;
  height: auto;
}

.wrap .coupons-wrap .coupons-item {
  background-image: linear-gradient(225deg, #00c6fb 0%, #005bea 99%, #005bea 100%);
  height: auto;
  padding-left: 2rem;
  padding-bottom: 0.46667rem;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0.66667rem;
}

.wrap .coupons-wrap .coupons-item::before {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 100%;
  background: url(../img/icon-circle.png);
  background-size: 0.8rem;
  background-repeat: repeat-y;
  bottom: 0;
  left: -0.4rem;
}

.wrap .coupons-wrap .coupons-item::after {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 100%;
  background: url(../img/icon-circle.png);
  background-size: 0.8rem;
  background-repeat: repeat-y;
  bottom: 0;
  right: -0.4rem;
}

.wrap .coupons-wrap .coupons-item .card-wrap {
  display: flex;
  align-items: center;
  height: 8rem;
  position: relative;
}

.wrap .coupons-wrap .coupons-item .card-wrap .left-name {
  width: 40%;
  height: 5.06667rem;
  display: flex;
  align-items: center;
  border-right: 1px #fff dashed;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}

.wrap .coupons-wrap .coupons-item .card-wrap .right-info {
  width: 60%;
  align-items: center;
  color: #fff;
  padding: 0 0.66667rem;
  font-size: medium;
}

.wrap .coupons-wrap .coupons-item .card-wrap .right-info p:nth-child(1) {
  margin-bottom: 0.8rem;
}

.wrap .coupons-wrap .coupons-item .tool {
  position: absolute;
  right: 0;
  right: 2rem;
  top: 6.66667rem;
  font-size: small;
  color: #fff;
  text-decoration: underline;
}

.wrap .coupons-wrap .coupons-item .desc {
  border-top: 1px dashed #fff;
  font-size: small;
  width: 90%;
  color: #fff;
  display: none;
  padding: 0.26667rem;
}
