@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "PingFangSC-Regular";
  outline: none;
}

body {
  margin: 0px auto !important;
  width: getUnit(750px);
  font-size: getUnit(28px);
  font-weight: 400;
  background-color: #fff;
}

/*文本格式化，超出范围，显示省略号*/
/*多行文本格式化，超出范围，显示省略号*/
.stage {
  position: relative;
  height: 1.2rem;
}

.slider {
  position: absolute;
  height: 1.2rem;
  box-shadow: 0 0 3px #999;
  background-image: linear-gradient(45deg, #fff1eb 0%, #ace0f9 99%, #ace0f9 100%);
  left: 10px;
  right: 10px;
}

.label,
.succuss {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.4, #4d4d4d), color-stop(0.5, white), color-stop(0.6, #4d4d4d), color-stop(1, #4d4d4d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 3s infinite;
  -webkit-text-size-adjust: none;
  line-height: 1.2rem;
  height: 1.2rem;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: #aaa;
}

@keyframes slidetounlock {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@-webkit-keyframes slidetounlock {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.button {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  transition: left 0s;
  -webkit-transition: left 0s;
}

.button-on {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  transition: left 1s;
  -webkit-transition: left .5s;
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0s;
  -webkit-transition: width 0s;
}

.track-on {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 1s;
  -webkit-transition: width .5s;
}

.icon {
  width: 0.42667rem;
  height: 0.42667rem;
  position: relative;
  top: 0.33333rem;
  left: 0.33333rem;
  font-family: sans-serif;
}

.icon:before {
  content: '';
  background: url(../img/right.png);
  width: 0.53333rem;
  height: 0.53333rem;
  display: block;
  color: #ccc;
  background-size: 100% 100%;
  position: absolute;
}

.spinner {
  width: 0.53333rem;
  height: 0.53333rem;
  position: relative;
  top: 0.33333rem;
  left: 0.33333rem;
  background: url(../img/ok.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: none;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.bg-green {
  line-height: 1.2rem;
  height: 1.2rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-image: linear-gradient(45deg, #00c6fb 0%, #005bea 99%, #005bea 100%);
}
