@keyframes textRight {
    from {
        transform: translate(-120px, 0)
    }

    to {
        transform: translate(0px, 0)
    }
}

@keyframes biger {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

.wrap-1 {
    height: 350px;
    background: url('../../assets/images/help/top-bg-1.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;

    .left-wrap {
        width: 500px;
        padding-left: 12%;

        .xx-large {
            color: #fff;
            margin-bottom: 15px;
            animation: textRight linear .5s forwards;
        }

        .desc {
            color: rgba(#fff, .8);
            animation: textRight linear .5s forwards;
        }
    }
}

.wrap-2 {
    height: auto;
    width: 100%;
    padding: 60px 15%;
    box-sizing: border-box;
    user-select: none;

    .cate-list {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1370px) {
            width: 95%
        }

        .cate-item {
            width: 250px;
            height: 280px;
            box-shadow: 0 0 10px #E5EAF0;
            text-align: center;
            padding: 30px;
            box-sizing: border-box;
            border-radius: 8px;
            animation: biger linear .5s forwards;

            @media screen and (max-width: 1370px) {
                width: 220px;
                height: 250px;
            }

            &:hover {
                box-shadow: 0 0 15px #ccc;
            }

            img {
                margin-bottom: 15px;
            }

            .name {
                font-weight: bolder;
                line-height: 50px;
            }
        }
    }


}

.wrap-3 {
    width: 100%;
    padding: 0 22%;
    box-sizing: border-box;
    display: flex;
    user-select: none;

    .left-wrap {
        width: 250px;

        .x-large {
            line-height: 60px;
        }

        img {
            width: 100px;
        }
    }

    .right-wrap {
        width: 80%;
        padding: 0 0 50px 150px;

        .issue-list {
            li {
                line-height: 35px;
                list-style: none;
                position: relative;
                cursor: pointer;

                .answer {
                    display: none;
                    font-size: smaller;
                    line-height: 25px;
                }

                .rotate {
                    transform: rotate(90deg);
                    transition-duration: .5s;
                }

                .rotate1 {
                    transform: rotate(0deg);
                    transition-duration: .5s;
                }

                i {
                    display: inline-block;
                    height: 22px;
                    width: 22px;
                    background: url('../../assets/images/arrow-right.png');
                    background-size: 100% 100%;
                    position: absolute;
                    top: 5px;
                    right: 0;
                }

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background: #1B73E8;
                    position: absolute;
                    left: -20px;
                    top: 14px
                }


            }
        }
    }
}