/*
* @Author: wanwan
* @Date:   2019-06-29 12:41:21
* @Last Modified by:   wanwan
* @Last Modified time: 2019-06-29 12:41:44
*/
.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}