@keyframes textDown {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(0, 25px)
    }
}

@keyframes toUp {
    from {
        transform: translate(0, 50px)
    }

    to {
        transform: translate(0, 0)
    }
}

@keyframes textShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.top-wrap-1 {
    height: 600px;
    width: 100%;
    background: url('../../assets/images/index/top-bg-1.jpg');
    background-size: 100% 100%;
    user-select: none;

    .wrap-1 {
        height: 540px;
        display: flex;

        .left-wrap {
            width: 600px;
            height: 400px;
            margin-top: 100px;
            margin-left: 12%;

            .xxx-large {
                font-size: xxx-large;
                color: #fff;
                line-height: 100px;
                animation: textDown linear .5s forwards;

            }

            .x-large {
                font-size: x-large;
                color: #fff;
                margin-top: 30px;
            }

            .xx-large {
                font-size: xx-large;
                color: #fff;
                margin-top: 25px;
            }

            .form-wrap {
                height: 40px;
                margin-top: 36px;
                display: flex;
                width: 90%;

                input {
                    border: none;
                    height: 100%;
                    border-radius: 5px 0 0 5px;
                    width: 80%;
                    padding-left: 20px;
                }

                .register-btn {
                    width: 140px;
                    height: 100%;
                    text-align: center;
                    background: #FFD84C;
                    display: inline-block;
                    border-radius: 0 5px 5px 0;
                    line-height: 40px;
                    color: #000;
                    cursor: pointer;
                }
            }
        }

        .right-wrap {
            width: 300px;
            height: 300px;
            margin-top: 150px;
            margin-left: 250px;
            background: url('../../assets//images/index/top-pic-1.png');
            background-size: 100% 100%;
        }
    }

    .wrap-2 {
        display: flex;
        justify-content: center;
        animation: textShow linear 1s forwards;

        span {
            padding: 0 25px;
            color: #FFD84C
        }
    }
}

.top-wrap-2 {
    height: auto;
    user-select: none;
    padding: 50px 10%;
    box-sizing: border-box;

    .x-large {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        color: #3A86EB;
    }

    .desc {
        line-height: 50px;
        color: #666;
    }

    .step-wrap {
        width: 100%;
        display: flex;
        margin-top: 20px;
        padding: 0 5%;
        box-sizing: border-box;
        justify-content: space-between;

        .step-item {
            width: 300px;
            height: 300px;
            box-shadow: 0 0 10px #E5EAF0;
            border-radius: 6px;
            text-align: center;
            padding: 50px 20px;
            box-sizing: border-box;
            position: relative;
            animation: toUp linear .5s forwards;

            &:hover::before {
                width: 98%;
                transition: 800ms ease all;
                background: #1B73E8;

            }


            &::before {
                content: '';
                width: 0;
                height: 2px;
                top: 0;
                left: 1%;
                display: block;
                position: absolute;
                transition: 400ms ease all;
            }

            &:hover {
                box-shadow: 0 0 15px #ccc;
            }

            .num {
                font-size: xx-large;
                font-weight: bold
            }

            .desc {
                line-height: 50px;
                font-size: larger;
            }

            .sub-desc {
                line-height: 40px;
                font-size: 14px;
                color: #999;
            }

            img {
                width: 60px;
                height: 60px;
                margin-top: 20px;
            }
        }
    }

    .center-b {
        cursor: pointer;
        text-align: center;
        margin-top: 35px
    }
}

.top-wrap-3 {
    height: 500px;
    width: 100%;
    background: url('../../assets/images/index/top-bg-2.png');
    background-size: 100% 100%;
    user-select: none;

    .card-wrap {
        width: 320px;
        float: right;
        margin-right: 12%;
        margin-top: 150px;
        border-radius: 10px;
        height: 200px;
        background: rgba(#2E3841, .5);
        text-align: center;

        .x-large {
            color: #fff;
            text-align: center;
            margin-top: 40px
        }

        .desc {
            line-height: 45px;
            color: rgba(#fff, .8);
        }

        .register-btn {
            height: 36px;
            width: 150px;
            line-height: 36px;
            color: #fff;
            border-radius: 18px;
            background: #3A86EB;
            display: inline-block;
            cursor: pointer;
        }
    }
}

.wrap-4 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
    user-select: none;
    background: #F9F9F9;

    .ccie-item {
        width: 30%;
        border-radius: 6px;
        text-align: center;
        padding: 50px 0;
        box-sizing: border-box;

        p {
            text-align: center;
        }

        .desc {
            line-height: 25px;
            color: #666;
            font-weight: bold;
        }

        .x-large {
            line-height: 60px;
        }

        img {
            height: 320px;
            transition: 2s;

            @media screen and (max-width: 1370px) {
                height: 200px;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.wrap-5 {
    height: auto;
    width: 100%;
    user-select: none;
    padding: 50px 10%;
    box-sizing: border-box;

    .x-large {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        color: #3A86EB;
    }

    .desc {
        line-height: 50px;
        color: #666;
    }

    img {
        width: 100%;
    }
}